.floatingButtonWrap {
  display: block;
  position: absolute;
  top: 45px;
  left: 45px;
  z-index: 999999999;
  cursor: pointer;
  width: 60px;
  height: 60px;
}
/* @media (max-width: 500px) {
  .floatingButtonWrap {
    top: 45px;
    left: 45px;
  }
} */
.floatingButtonInner {
  position: relative;
}

.floatingButton {
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  background: -webkit-linear-gradient(
    45deg,
    #ff7300,
    #ffd000
  );
  background: -o-linear-gradient(
    45deg,
    #ff7300,
    #ffd000
  );
  background: linear-gradient(
    45deg,
    #ff7300,
    #ffd000
  );
  color: #fff;
  line-height: 50px;
  border-radius: 50% 50%;
  border: 5px solid #ff7300;
  /* opacity: 0.3; */
  opacity: 1;
  transition: all 0.4s;
}

#modal-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: grid;
  place-items: center;
}
.scale{
  opacity: 0;
  transform: scale(0);
  z-index: 1;
}
.four {
  z-index: 100;
  transform: scale(1);
}
/* #modal-container.four
  .modal-background {
  background: rgba(0, 0, 0, 0.7);
} 
*/
#modal-container.four
  .modal-background
  .modal {
  animation: blowUpModal 0.5s
    cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}
#modal-container.four + .content {
  z-index: 1;
  animation: blowUpContent 0.5s
    cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}
#modal-container.four.out
  .modal-background
  .modal {
  animation: blowUpModalTwo 0.5s
    cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}
#modal-container.four.out + .content {
  animation: blowUpContentTwo 0.5s
    cubic-bezier(0.165, 0.84, 0.44, 1)
    forwards;
}
#modal-container .modal-background {
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal-container
  .modal-background
  .modal {
  max-width: 600px;
  background: black;
  padding: 100px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  min-height: 180px;
}
#closeBtn {
 position: absolute;
  top: 50px;
  right: 80px;
  padding: 0;
  border-radius: 50%;
  transform: scale(1.3);
}
#closeBtn i {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(
    177,
    164,
    164,
    0.562
  );
  font-size: x-large;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #000;
}
.modal-heading {
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#modal-container
  .modal-background
  .modal
  h2 {
  font-size: 25px;
  line-height: 25px;
}
#modal-container
  .modal-background
  .modal
  p {
  font-size: 18px;
  line-height: 22px;
}
#modal-container
  .modal-background
  .modal
  .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#modal-container
  .modal-background
  .modal
  .modal-svg
  rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

@media (max-width: 500px) {
  #modal-container
  .modal-background
  .modal {
  max-width: 400px;
  background: black;
  padding: 20px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  min-height: 180px;
}
#closeBtn
{
  transform: scale(0.8);
  top: 30px;
  right: 30px;
}
  /* #modal-container.four {
    z-index: 100;
    transform: scale(0.6);
    left: -3%;
  } */
}

@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}
@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
.Name {
  --activeTitleColor: grey;
  --bg: black;
  --text: white;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.Name {
  position: relative;
  width: 500px;
  height: 80px;
  background: transparent;
  overflow: hidden;
}
.Name input {
  width: 100%;
  height: 100%;
  color: var(--text);
  padding-top: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: large;
  font-weight: 600;
}
.Name label {
  position: absolute;
  bottom: 10%;
  left: 0%;
  width: 100%;
  height: 100%;
  color: var(--text);
  pointer-events: none;
  border-bottom: 1px solid white;
}
.Name label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid white;
  transform: translate(-100%);
  transition: transform 0.3s ease;
}
.contentName {
  position: absolute;
  bottom: 15px;
  left: 0px;
  transition: all 0.3s ease;
  color: lightgray;
}
.Name
  input:focus
  + .labelName
  .contentName,
.Name
  input:valid
  + .labelName
  .contentName {
  transform: translateY(-100%);
  font-size: 14px;
  color: var(--activeTitleColor);
}
.Name input:focus + .labelName::after,
.Name input:valid + .labelName::after {
  transform: translateX(0%);
}
@media screen and (max-width: 768px) {
  .Name {
    width: 300px;
  }
}

.bottom-right {
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 20px;
  color: #fff;
  line-height: 1.3;
  box-shadow: 0 0 15px 0
    rgba(0, 0, 0, 0.35);
  max-width: 350px;
  margin: 20px;
  top: 0;
  right: 0;
  transform: translateX(420px);
}
@-webkit-keyframes slide-in-right {
  to {
    transform: translateX(0);
  }
}
@keyframes slide-in-right {
  to {
    transform: translateX(0);
  }
}
.bottom-right.do-show {
  animation: slide-in-right 1s
      ease-in-out forwards,
    slide-in-right 1s ease-in-out
      reverse forwards 3s;
}

.bottom-right[data-notification-status="warning"]:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin-right: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 3.984c4.407 0 8.016 3.609 8.016 8.016 0 4.406-3.608 8.016-8.016 8.016S3.984 16.407 3.984 12 7.593 3.984 12 3.984m0-2C6.478 1.984 1.984 6.477 1.984 12c0 5.521 4.493 10.016 10.016 10.016S22.016 17.522 22.016 12c0-5.523-4.495-10.016-10.016-10.016zm0 2c4.407 0 8.016 3.609 8.016' fill='%23C19100'/%3E%3Cpath d='M11.016,17.016h1.968V15h-1.968V17.016z M11.016,6.983v6.001h1.968V6.983H11.016z' fill='%23C19100'/%3E%3C/svg%3E")
    center/cover no-repeat;
}

.bottom-right[data-notification-status="success"] {
  background-color: #ff7300;
}
.bottom-right[data-notification-status="success"]:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin-right: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M12 3.984c4.407 0 8.016 3.609 8.016 8.016 0 4.406-3.608 8.016-8.016 8.016S3.984 16.407 3.984 12 7.593 3.984 12 3.984m0-2C6.478 1.984 1.984 6.477 1.984 12c0 5.521 4.493 10.016 10.016 10.016S22.016 17.522 22.016 12c0-5.523-4.495-10.016-10.016-10.016zm0 2c4.407 0 8.016 3.609 8.016' fill='%233A813D'/%3E%3Cpath d='M10.477,13.136l5.085-5.085l1.406,1.406l-6.492,6.492l-3.446-3.445l1.406-1.406L10.477,13.136z' fill='%233A813D'/%3E%3C/svg%3E")
    center/cover no-repeat;
}



.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #ff7300;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 1em 2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2;
}
.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}
.fourth {
  border-color: #ff7300;
  background-image: linear-gradient(
    45deg,
    #ff7300 50%,
    transparent 50%
  );
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms
    ease-in-out;
}
.fourth:hover {
  background-position: 0;
}

.third {
  border-color: black;
  color: #fff;
  box-shadow: 0 0 40px 40px black inset,
    0 0 0 0 black;
  transition: all 150ms ease-in-out;
}
/* .third:hover {
  color: black;
  box-shadow: 0 0 10px 0 black inset, 0 0 10px 4px black;
} */


